@using LonghornCinemaFinalProject.Models
@using LonghornCinemaFinalProject.DAL
@{
    ViewBag.Title = "Index";
}

<h2>Longhorn Cinema</h2>

<p>Welcome to Longhorn Cinema!</p>

<div class="thumbnail">
    <div class="caption">
        <hr />
        <h5>Welcome to Longhorn Cinema!</h5>
        <h6>
            To see the site in action, try logging in with the following User/Password combinations (in addition to without logging in):<br />
            Customer: cbaker@example.com, hello1<br />
            Employee: s.saunders@longhorncinema.com, rankmary<br />
            Manager: michael@longhorncinema.com, Abc123!<br />
        </h6>
    </div>
</div>

@if (User.IsInRole("Customer"))
{
<br />
<h4>Here are today's showings:</h4>
<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Special Event?
        </th>
        <th>
            Theatre
        </th>
        <th></th>
    </tr>
    @foreach (Showing item in ViewBag.TodayShowingList)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Movie.Title, "Details", "Showings", new { id = item.ShowingID }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @if (item.SpecialEventStatus == SpecialEvent.NotSpecial)
                {<p>No</p>}
                @if (item.SpecialEventStatus == SpecialEvent.Special)
                {<p>Yes</p>}
            </td>
            <td>
                @if (item.TheatreNum == Theatre.TheatreOne)
                {<p>1</p>}
                @if (item.TheatreNum == Theatre.TheatreTwo)
                {<p>2</p>}
            </td>
            <td>
                @if ((item.StartTime > DateTime.Now) && !(User.IsInRole("Employee") || User.IsInRole("Manager")))
                {@Html.ActionLink("Buy Ticket", "Create", "Tickets", new { ShowingID = item.ShowingID }, new { @class = "btn btn-primary" })}
            </td>
        </tr>
    }
</table>
}