@using LonghornCinemaFinalProject.Models
@using LonghornCinemaFinalProject.DAL
@{
    ViewBag.Title = "Index";
}

<h2>Longhorn Cinema</h2>

<p>Welcome to Longhorn Cinema!</p>

@if (!User.IsInRole("Customer"))
{
<div class="thumbnail">
    <img src="https://raw.githubusercontent.com/mis333k-spr18/S18Team5/master/IMG_0178.jpeg?token=Ah8FsacGeMrACCTM07Z3MAzuoelTh_Ilks5a9PIPwA%3D%3D" alt="" style="width: 624px; height: 468px;">
    <div class="caption">
        <hr />
        <h5>We are three hardworking MIS 333K students at the McCombs School of Business at The University of Texas at Austin.</h5>
        @*<h3>Enjoy ou</h3>*@
    </div>
</div>
}
else
{
<br />
<h4>Here are today's showings:</h4>
<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Special Event?
        </th>
        <th>
            Theatre
        </th>
        <th></th>
    </tr>
    @foreach (Showing item in ViewBag.TodayShowingList)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Movie.Title, "Details", "Showings", new { id = item.ShowingID }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @if (item.SpecialEventStatus == SpecialEvent.NotSpecial)
                {<p>No</p>}
                @if (item.SpecialEventStatus == SpecialEvent.Special)
                {<p>Yes</p>}
            </td>
            <td>
                @if (item.TheatreNum == Theatre.TheatreOne)
                {<p>1</p>}
                @if (item.TheatreNum == Theatre.TheatreTwo)
                {<p>2</p>}
            </td>
            <td>
                @if ((item.StartTime > DateTime.Now) && !(User.IsInRole("Employee") || User.IsInRole("Manager")))
                {@Html.ActionLink("Buy Ticket", "Create", "Tickets", new { ShowingID = item.ShowingID }, new { @class = "btn btn-primary" })}
            </td>
        </tr>
    }
</table>
}