@model LonghornCinemaFinalProject.Models.Movie

@{
    ViewBag.Title = "AddToSchedule";
}

<h2>AddToSchedule</h2>
@Html.HiddenFor(model => model.MovieID)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p class="form-group">
        Insert StartTime: @Html.TextBox("TimeString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>

    <p class="form-group">
        Insert Date(mm/dd/yr): @Html.TextBox("DateString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

