@using LonghornCinemaFinalProject.Controllers
@using LonghornCinemaFinalProject.Models

@{
    ViewBag.Title = "Scheduling";
}

<h2>Scheduling</h2>


@using (Html.BeginForm("Scheduling", "Schedule", FormMethod.Post))
{
    <p class="form-group">
        TargetDate: @Html.TextBox("TargetDate", null, new { @class = "form-control" }) <br />

        CopiedDate: @Html.TextBox("CopiedDate", null, new { @class = "form-control" }) <br />

        TargetTheatre: @Html.TextBox("TargetTheatre", null, new { @class = "form-control" })<br />



        @*@Html.ActionLink("Copy Schedule", "", "Schedule", new { @class = "btn btn-primary" })*@

        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}