@using LonghornCinemaFinalProject.Controllers
@using LonghornCinemaFinalProject.Models

@{
    ViewBag.Title = "Scheduling";
}

<h2>Copy Schedule</h2>
<p>@ViewBag.ErrorMessage<</p>

@using (Html.BeginForm("Scheduling", "Schedule", FormMethod.Post))
{
    <p class="form-group">
        TargetDate: (Ex. May 04 2018) @Html.TextBox("TargetDate", null, new { @class = "form-control" }) <br />

        CopiedDate: (Ex. June 04 2018) @Html.TextBox("CopiedDate", null, new { @class = "form-control" }) <br />

        TargetTheatre: (Ex. TheaterOne)@Html.TextBox("TargetTheatre", null, new { @class = "form-control" })<br />



        @*@Html.ActionLink("Copy Schedule", "", "Schedule", new { @class = "btn btn-primary" })*@

        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}