@model LonghornCinemaFinalProject.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <p>If you're here the Ticket should have been created and an Order should have been created with the Ticket on it. You can check the Tickets and Orders table with the corresponding OrderID and TicketID to verify this.</p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
