@model LonghornCinemaFinalProject.Models.Order

@{
    ViewBag.Title = "Thanks";
}

<h2>Thank You</h2>

<div>
    <dl class="dl-horizontal"></dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h3>Thank you for your order! wE aPpReCiAtE yOuR bUsInEsS</h3>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back", "Checkout", "Orders", new { OrderID = Model.OrderID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Home","Index","Home",null,new { @class = "btn btn-warning"})
            </div>
        </div>
    }
</div>
