<<<<<<< HEAD
﻿@model LonghornCinemaFinalProject.Models.Report

@{
    ViewBag.Title = "Results";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
=======
﻿@model LonghornCinemaFinalProject.Models.Report

@{
    ViewBag.Title = "Results";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
>>>>>>> d2dbfa0c9f2214f86ad048f93971b6649a010828
